:root {
  --background: #EEEEEE;
  --primaryColor: #00ADB5;
  --font: #222831;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--font);
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

body {
  font-family: 'arial', sans-serif;
  overflow-x: hidden;
  background: linear-gradient(25.8deg,
      var(--background) 0%,
      var(--background) 50%,
      var(--primaryColor) 50%,
      var(--primaryColor) 100%);
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
  height: auto;

}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}